<!DOCTYPE html>
    <head>
		<meta charset="utf-8">
		<title>Customer Entry Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
       

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="/assets/Mymodule/fonts/linearicons/style.css">
		 <!-- STYLE CSS -->
		<link rel="stylesheet" href="/assets/Mymodule/css/Mystyle.css">
				
	</head>
	<body class="cusadd"> 
	<div class="wrapper">
			<div class="inner">
				
				<form id="formmain" action="">
					<h3>Customer Entry Form</h3>
					<div><label class="bolder blue">Customer Name </lable></div>
					<div class="form-holder">
						
						<input id="cusname" type="text" class="form-control" placeholder="Customer Name">
					</div>
					<div><label class="bolder blue">Phone No:</lable></div>
					<div class="form-holder">
						
						<input id="phone" type="text" class="form-control" placeholder="Phone Number">
					</div>
					<div><label class="bolder blue">E-mail </lable></div>
					<div class="form-holder">
						
						<input id="mail"type="text" class="form-control" placeholder="Mail">
					</div>
					<div><label class="bolder blue">Landmark</lable></div>
					<div class="form-holder">
						
						<input id="land-mark" type="text" class="form-control" placeholder="Landmark">
					</div>
					<div><label class="bolder blue">City </lable></div>
                    <div class="form-holder">
						
						<input id="city" type="text" class="form-control" placeholder="City">
					</div>
					<button id="btnreg" class="btn-hover colorb">
						<span>Submit</span>
					</button>
                    <button id="btncancel" class="btn-hover colorr">
						<span>Cancel</span>
					</button>
				</form>
				<img src="/assets/Mymodule/images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="/assets/Mymodule/js/jquery-3.3.1.min.js"></script>
		<script src="/assets/Mymodule/js/main.js"></script>
		</body>