<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Manage Purchase</title>
</head>

<body>
    <div class="container-fluid">
        <div class="well container">

            <!-- form content -->
            <div class="row">
                <div class="col-md-12 form-group form-inline">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="font-weight-bold" for="">Search :&emsp;</label>


                        <input type="number" class="form-control" id="txtGRNID" placeholder="By GRN NO">
                    </div>

                    <div class="col-md-6">
                        &emsp;<label class="font-weight-bold" for="">By Purchase Date :&emsp;</label>
                        <input type="date" class="form-control" id="txtGRNDateFrom">
                        &emsp;<label class="font-weight-bold" for="">to&emsp;</label>
                        <input type="date" class="form-control" id="txtGRNDateTo">
                    </div>

                    <div class="col-md-2">
                        &emsp;<button class="btn btn-primary font-weight-bold" id="btnSearch"><i
                                class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Search</button>
                    </div>

                </div>

                <div class="col col-md-12">
                    <hr class="col-md-12" style="padding: 0px; border-top: 2px solid  #02b6ff;">
                </div>

                <div class="col col-md-12 table-responsive">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 2%;">S.NO</th>
                                    <th style="width: 20%;">Product Code</th>
                                    <th style="width: 20%;">Product Name</th>
                                    <th style="width: 10%;">Rate</th>
                                    <th style="width: 10%;">Quantity</th>
                                    <th style="width: 10%;">Amount</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbPurchasesDetails">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- form content end -->

            <hr class="col-md-12" style="padding: 0px; border-top: 2px solid  #02b6ff;">
            <div class="row col col-md-12">

					<div class="col col-md-8"></div>

					<div class="col col-md-2 form-group">
						<button class="btn btn-success form-control menu-icon fa fa-floppy-o"
							id="txtPurchaseSave">&nbsp;&nbsp;Save</button>
					</div>

					<div class="col col-md-2 form-group">
						<button class="btn btn-danger form-control menu-icon fa fa-trash"
							id="txtPurchaseCancel">&nbsp;&nbsp;Cancel</button>
					</div>

				</div>

        </div>
    </div>
</body>

</html>


	@section scripts
	{
	<script src="/PurchaseAssets/PurchaseDetails.js"></script>
	<script type="text/javascript">
	//init call
	Init();
	</script>
	}
