<!DOCTYPE html>
<html>
<head>	
	<title>Add New Purchase</title>
	@*<script language="JavaScript" type="text/javascript" src="/PurchaseAssets/PurchaseAutoFill.js"></script>	
	<script language="JavaScript" type="text/javascript" src="/PurchaseAssets/PurchaseBind.js"></script>*@

	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="container-fluid" align="center">

		<div class="well container" align="center" style="background-color:smokewhite">
			<!-- form content -->
			<div class="row" align="left">
				<!-- manufacturer details content -->

				@*1st tow input*@

				<div class="row col col-md-12">

					<div class="col col-md-3 form-group">
						<label class="font-weight-bold" for="">GRN NO</label>
						<input type="number" class="form-control" placeholder="Enter GRN ID" id="txtGRNID">
					</div>

					<div class="col col-md-3 form-group">
						<label class="font-weight-bold" for="paytype">GRN Date</label>
						<div class="form-holder">
							<input id="txtGRNDate" type="date" class="form-control input-mask-date ">
						</div>
					</div>
					
					<div class="col-md-1"></div>

					<div class="col col-md-2 form-group">
						<label class="font-weight-bold" for="paytype"
							align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supplier Type</label>
						<div class="form-check">
							<input class="form-check-input" value="Cash" type="radio" name="PayType">
							<label class="form-check-label">Cash</label>
							&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" value="Credit" type="radio"
								name="PayType">
							<label class="form-check-label">Credit</label>
						</div>
					</div>

					@* JQuery part*@
					@*hide and show Payment Checkbox Content *@

					<script type="text/javascript">

						$(document).ready(function () {
							$('input[type="radio"]').click(function () {
								var inputValue = $(this).attr("value");
								var targetBox = $("." + inputValue);
								$(".selectt").not(targetBox).hide();
								$(targetBox).show();
							});
						});
					</script>

					@*Ending JQuery part*@

					<div class="col col-md-3 form-group">
						<div class="Cash selectt">
							<br /> <input id="txtSupplierCash" placeholder="Enter Cash"
								class="form-control input-mask-date ">
						</div>

						<div type="hideen" class="Credit selectt" class="toshow" style="display:none">
							<br />
							<button id="txtSupplierCredit" class="btn btn-primary font-weight-bold">
								<i class="menu-icon fa fa-list-alt"></i></button>
						</div>
					</div>

				</div>

				@*2nd row input*@


				<hr class="col-md-12" style="padding: 0px; border-top: 3px solid #02b6ff;">

				<div class="row col col-md-12">

					<div class="col col-md-3 form-group">
						<label class="font-weight-bold" for="">Product Code</label>
						<input type="number" class="form-control" placeholder="Enter Product Code" id="txtProductCode">

					</div>

					<div class="col col-md-3 form-group">
						<label class="font-weight-bold" for="">Product Name</label>
						<input type="input" class="form-control" placeholder="Enter Product Name" id="txtProductName">
					</div>

					@* JQuery part*@
					@* hide and show Payment Checkbox Content *@

				@*	<script type="text/javascript">
						$(function () {
							var availableTags = [
								"ActionScript",
								"AppleScript",
								"Asp",
								"BASIC",
								"C",
								"C++",
								"Clojure",
								"COBOL",
								"ColdFusion",
								"Erlang",
								"Scheme"
							];
							$("#ProductName").autocomplete({
								source: availableTags
							});
						});
					</script>
					*@

					@*Ending JQuery part*@
					<div class="col col-md-1 form-group"></div>			

					<div class="col col-md-2 form-group">
						<label class="font-weight-bold" for="">Rate</label>
						<input type="input" class="form-control" id="txtProductRate">
					</div>

					<div class="col col-md-2 form-group">
						<label class="font-weight-bold" for="">Quantity</label>
						<input type="number" class="form-control" id="txtProductQuantity">
					</div>	


					<div class="col col-md-1 form-group">
						<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-info" id="btnPurchaseRowAdd"><i
								class="menu-icon fa fa-medkit" data-glyph="plus"></i></button>
					</div>

				</div>

				<!-- supplier details content end -->

				<div class="col col-md-12">
					<hr class="col-md-12" style="padding: 0px; border-top: 2px solid #02b6ff;">
				</div>

				<!-- add medicines -->

				<div class="col col-md-12 table-responsive">
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover" id="tbl"> 
							<thead>
								<tr>
									<th style="width: 5%;">S.NO</th>

									<th style="width: 19%;">Code</th>
									<th style="width: 26%;">Product Name</th>
									<th style="width: 17%;">Rate</th>
									<th style="width: 9%;">Quantity</th>
									<th style="width: 15%;">Amount</th>
									<th style="width: 20%;">Action</th>
								</tr>
							</thead>
							<tbody id="tblPurchasesDetails"></tbody>
						</table>
					</div>
				</div>

				<div class="col col-md-12">
					<hr class="col-md-12" style="padding: 0px; border-top: 2px solid  #02b6ff;">
				</div>

				<!-- end medicines -->

				<div class="row col col-md-12">
					<div class="col col-md-9"></div>
					<div class="col col-md-2 form-group float-right">
						<label class="font-weight-bold" for="">Grand Total</label>
						<input type="text" class="form-control" id="txtGrandTotal" disabled>
					</div>
				</div>

				<hr class="col-md-12" style="padding: 0px; border-top: 2px solid #02b6ff;">
				<!-- button -->
				<div class="row col col-md-12">

					<div class="col col-md-8"></div>

					<div class="col col-md-2 form-group">
						<button class="btn btn-success form-control menu-icon fa fa-floppy-o"
							id="txtPurchaseSave">&nbsp;&nbsp;Save</button>
					</div>

					<div class="col col-md-2 form-group">
						<button class="btn btn-danger form-control menu-icon fa fa-trash"
							id="txtPurchaseCancel">&nbsp;&nbsp;Cancel</button>
					</div>

				</div>

				<hr class="col-md-12" style="padding: 0px; border-top: 2px solid #02b6ff;">
				<!-- closing button -->

				<div id="purchase_acknowledgement" class="col-md-12 h5 text-success font-weight-bold text-center"
					style="font-family: sans-serif;">
				</div>

			</div>
		</div>
	</div>
</body>
</html>

@*
	@section scripts
	{
	<script src="/Modules/Product/Entry/Product.js"></script>
	<script type="text/javascript">
	//init call
	Init();
	</script>
	}
*@

<script>
var EmptyRow = "<tr><td colspan='12' class='text-center'>No Records Available</td></tr>";

$(document).ready(function(){

$("#tbl tbody").append(EmptyRow);
$("#btnPurchaseRowAdd").click(function()
{
	var code = $("#txtProductCode").val();
	var name = $("#txtProductName").val();
	var rate = $("#txtProductRate").val();
	var qty = $("#txtProductQuantity").val();
	var amount = rate*qty;
//var amount = rate * qty;

// validation

if(code != "" && name != "" && rate != "" && qty != "")
{
	if($("#tbl tbody").children().children().length ==1)
	{
		$("#tbl tbody").html("");
	}
	var S_No = $("#tbl tbody").children().length +1;

// Creating dynamic html string

var dynamicTr = "<tr><td>"+S_No+"</td><td>"+code+"</td><td>"+name+"</td><td>"+rate+"</td><td>"+qty+"</td><td>"+amount+"</td><td><button class='btn btn-danger form-control menu-icon fa fa-trash' id='btnDEL'></button></td></tr>";	$("#tbl tbody").append(dynamicTr);
	$("#txtProductCode").val("");
	$("#txtProductName").val("");
	$("#txtProductRate").val("");
	$("#txtProductQuantity").val("");
//		$("#txtProductAmount").val("");
	$("#btnDEL").click(function()
	{
		$(this).parent().parent().remove();
		if($("#tbl tbody").children().children().length == 0)
		{
			$("#tbl tbody").append(EmptyRow);
		}
	});
}
else
{
	alert("Please provide values");
}
});
});

</script>
